.container{
    width: fit-content;
    padding: 50px 15px;
    min-height: calc(100vh - 2*50px);
    background-color: var(--bg-secondary);
    font-family: 'Poppins', sans-serif;
}
.head-title{
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.search input, button{
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin: auto;
    display: block;
}
.search input{
    background-color: var(--bg-primary);
}
.search button{
    background-color: var(--bg-info);
    margin: 12px auto;
    color: var(--bg-secondary);
    font-weight: 700;
    font-size: medium;
}

.errorMsg{
    color: var(--color-danger);
    text-align: center;
}

.users{
    /* background-color: var(--bg-primary); */
}
.user-card{
    background-color: var(--bg-primary);
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px var(--bg-primary);
}

.username{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username h4{
    margin: 0;
    font-family: serif, sans-serif;
}
.icon-wrapper{
    position: relative;
    min-width: 20px;
}
.icon{
    /* position: absolute; */
    transform: rotate(0deg);
    /* top: 15px; */
    transition: transform 0.3s ease-in-out;
}
.repo-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repo-heading h4{
    margin: 0;
}
.repo-card .repo-text h4{
    
}
@media screen and (min-width:410px) {
    .container{
        width: auto;
        margin: 0 10%;
    }
    .search input, button{
        max-width: 500px;
    }
    .users{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}