body{
  --bg-primary: #e5e5e5;
  --bg-secondary: #fff;
  --bg-info: #2d9cdb;
  --color-danger: #ed5833;


  /* background-color: var(--bg-primary); */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}